<html>
<head>
    <title>about</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="page4">
    <div class="container-fluid">
        <div class="container">
            <h2></h2>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href='/training'>Training</a></li>
                <li><a href="/soil">Soil</a></li>
                <li><a href="/water">Water</a></li>
                <li><a href="/overall">Predict</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>About</h1>
           <p> Welcome to our website! Here, we explore the fascinating relationship between soil and water quality parameters 
            and their impact on the nutrition value of paddy crops. 
            Understanding these factors is crucial in determining whether the nutrition content of paddy crops is high or normal.</p>
            <p>Soil quality parameters play a vital role in determining the nutritional composition of paddy crops. 
                Here are some key factors that significantly influence the nutrition value of paddy crops are Soil pH,Organic carbon etc.
            </p>
            <p>
                Water quality plays a crucial role in the growth and development of paddy crops. 
                The nutritional value of paddy crops is influenced by several water quality parameters, which we would like to highlight 
                like Water pH,Salinity,Toxicity,Alkalinity.
            </p>
        </div>
    </div>
</body>
</html>