<html>
    <head>
        <meta charset="utf-8">
        <title>AGRICULTURE</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body class="page1">
     <div class="container-fluid">
            <div class="container">
                <h2>Agriculture</h2>
                    <ul>
                        <li><a href='/home'>Home</a></li>
                        <li><a href='/training'>Training</a></li>
                        <li><a href='/soil'>Soil</a></li>
                        <li><a href='/water'>Water</a></li>
                        <li><a href="/overall">Predict</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
            </div>
      <div class="content">
        <h1>welcome to home page</h1>
        <p>Agriculture is the backbone of the Indian economy. Nearly 70% of the Indian 
            population, directly or indirectly, depends on agriculture and its related activities. Rice (Oryza 
            sativa) is the major staple food for Southern and Eastern Indians. As it is a tropical plant, the 
            Indian climate conditions (hot and humid) are highly suitable for its cultivation which thus led 
            India to become the second-largest producer and the largest exporter of rice grains.</p>
        
        <p>The second goal of the 2030 Agenda for Sustainable Development, as adopted by the 
                United Nations in 2015, aims for “food security”, “improved nutrition” (along with other 
                objectives) by promoting “sustainable agriculture”. Improved nutrition can be achieved by 
                understanding the dynamics of food production. The nutrient availability and other conditions 
                such as soil organic matter (SOM), pH etc</p>

      </div>
    </div>
</body>
</html>