<html>
    <head>
          <link rel="stylesheet" href="../static/style.css">
    </head>
<body class="page6">
    <div class="container-fluid">
        <div class="container">
            <h2></h2>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href='/training'>Training</a></li>
                <li><a href="/soil">Soil</a></li>
                <li><a href="/water">Water</a></li>
                <li><a href="/overall">Predict</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>prediction of nutritional value in the paddy crop</h1>
            <form method="POST" action="/predictoverall" class="mt-5">
                <div class="center">
                    <input type="submit" value="Predict here">
                </div>
            </form>
        </div>
    </div>
</body>
</html>